<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/Sensorario/Resources/Exceptions/</directory>
                <directory suffix=".php">src/Sensorario/Resources/Interfaces/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
